<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.MemberMapper">

	<!-- 등록 -->
  <insert id="insertMember" parameterType="member">
  	insert into tbl_member (member_id, member_pw, member_name)
	values(#{memberId}, #{memberPw}, #{memberName})
  </insert>
  
  <select id="selectMember" parameterType="string" resultType="member">
    select *
    from   tbl_member
    where  member_id = #{id}
    and    member_pw = #{pw}
  </select>
  
  <select id="selectMemberList" resultType="member" parameterType="search">
    <!-- select *
    from tbl_member 
    select /*+ INDEX_DESC(b SYS_C008408) */ rownum rn, b.*-->
    
	select ta.*
	from   (select /*+ INDEX_DESC(b SYS_C008408) */ rownum rn, b.*
	        from tbl_member b
	        <where>
				<if
					test="searchCondition != null and searchCondition == 'T'.toString() ">
					member_id like '%'||#{keyword}||'%'
				</if>
				<if
					test="searchCondition != null and searchCondition == 'W'.toString() ">
					member_name like '%'||#{keyword}||'%'
				</if>
				<if
					test="searchCondition != null and searchCondition == 'TW'.toString() ">
					member_name like '%'||#{keyword}||'%' or member_id like '%'||#{keyword}||'%'
				</if>
			</where>
	       ) ta
	 where ta.rn > (#{page} - 1) * 5
	 <![CDATA[
	 and   ta.rn <= #{page} * 5
	 ]]>
  </select> 
  
  <select id="selectMemberCount" resultType="int">
		select count(1)
		from tbl_member
		<where>
			<if
				test="searchCondition != null and searchCondition == 'T'.toString() ">
				member_id like '%'||#{keyword}||'%'
			</if>
			<if
				test="searchCondition != null and searchCondition == 'W'.toString() ">
				member_name like '%'||#{keyword}||'%'
			</if>
			<if
				test="searchCondition != null and searchCondition == 'TW'.toString() ">
				member_name like '%'||#{keyword}||'%' or member_id like '%'||#{keyword}||'%'
			</if>
		</where>
	</select>
  
</mapper>